mixin car_card(_data)
    article.media
        figure.media-left
            p.image.is-4by3
                img(src='./src/images/'+_data.image alt='Placeholder image')
        .media-content
            .content
                p.title.is-4 #{_data.price_currency}
        .media-content.has-text-left
            p.title.is-4 #{_data.make}
            p.subtitle.is-6 model: #{_data.model}
            p.is-7 type: #{_data.type}
            .content
                p #{_data.title}
                a(href=_data.href) link
                br
                p.title.is-5 #{_data.year}
        .media-right
            table
                thead
                tbody
                    tr
                        td 
                            p power 
                                span.is-size-7 
                                    | (#{_data.power_measure}) 
                                    | :  
                        td.has-text-right #{_data.power}
                    tr
                        td Five
                        td Six
                    tr
                        td Seven
                        td Eight 
